################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArchFileDataDeleteConsole/FileContentIndex/0ae0d517-f155-4e44-bb32-663baaacb937.vsidx
/.vs/ArchFileDataDeleteConsole/FileContentIndex/94af0f8f-3da4-4339-8484-475b1a0a7515.vsidx
